    <footer class="page-footer">
        <p class="text-center" style="color:gray; margin:3% 0% 1% 0%; font-size: 12px">
            The database is powered by OMDb API<br>
            Trademark 2018 movie search<br>
            Website by A.T.<br>
        </p>
    </footer>
    </body>
</html>