    <footer class="page-footer">
        <p class="text-center" style="color:gray; margin:3% 0% 1% 0%; font-size: 12px">
            This website is using <a href="http://www.omdbapi.com">OMDb API</a><br>
            Website by Alexander Tsai<br>
        </p>
    </footer>
    </body>
</html>